@import "tailwindcss";

@keyframes gradientGlow {
  0% {
    box-shadow:
      0 0 12px 3px rgba(59, 130, 246, 0.4),   /* blue */
      0 0 18px 6px rgba(147, 51, 234, 0.3),   /* purple */
      0 0 25px 8px rgba(20, 184, 166, 0.3);   /* green */
  }
  50% {
    box-shadow:
      0 0 18px 5px rgba(59, 130, 246, 0.5),
      0 0 25px 8px rgba(147, 51, 234, 0.4),
      0 0 35px 10px rgba(20, 184, 166, 0.35);
  }
  100% {
    box-shadow:
      0 0 12px 3px rgba(59, 130, 246, 0.4),
      0 0 18px 6px rgba(147, 51, 234, 0.3),
      0 0 25px 8px rgba(20, 184, 166, 0.3);
  }
}

.hover-gradient-glow:hover {
  animation: gradientGlow 2.5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}
